:root{
   --azulescuro: #0B2027;
   --azul:  #005ce6;
   --brancofraco: #F6F1D1;
   --branco: #FFF;
   --cinzaescuro: #4a4949;
   --amareloclaro: #e3dda8;
   --amarelo: #e3d344;
   --verdeescuro: #FFFFFF1A;
   --verde: #02F57CA5;
   --preto: #000;
   --vermelho: #FF0000;
   --laranja: #FFA600E6;
}

body{
   font-family: 'Raleway', sans-serif;
}