 .task.done .check-button {
   background-color: #46494C;
   color: #F6F1D1;
 }
 
 .task.done .check-icon {
   background-color: #0B2027;
 }
 
 .task.done .content {
   text-decoration: line-through;
 }