.check-button {
   background-color: var(--verde);
   border: none;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
   outline: none;
   border-radius: 10px;
   cursor: pointer;
   width: 62px;
   height: 38px;
   align-self: center;
   font-weight: bold;
   text-align: center;
   color: var(--branco);
}