.container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   min-height: 100vh;
}

.container-cabecalho{
   display: flex;
   justify-content: space-around;
}